@font-face {
    font-family: 'gilroyextrabold';
    src: url('../font/gilroy-extrabold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'gilroylight';
    src: url('../font/gilroy-light-webfont.woff2') format('woff2');
}
*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

/* ДОСТУПНОСТЬ */
:focus:not(:focus-visible) {
  outline: 0;
}
:focus-visible {
  outline: 3px solid #f0c52e;
}
:active {
  outline: none;
}
:hover {
  outline: none;
}

/* УНИВЕРСАЛЬНЫЕ СТИЛИ */
.body {
  font-family: "gilroyextrabold", Arial, sans-serif;

  padding-top: 40px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.button {
  border: none;
  background: none;

  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-decoration: none;
  color: rgba(0,0,0,1);
  line-height: 24px;
  text-align: center;

  padding: 8px 0;

  display: block;

  background-image: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
}
.button:hover {
  background-color: #f0c52e;
}
.button:focus {
  background-color: #f0c52e;

  color: rgba(0,0,0,0.3);
}
.link {
  text-decoration: none;
  color: inherit;
}
.text {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.2px;
}
.active-element-opacity:hover {
  filter: opacity(0.6);
}
.active-element-opacity:active {
  filter: opacity(0.3);
}
.title {
  font-size: 47px;
  letter-spacing: 0.47px;
  line-height: 48px;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
}
.modal::before {
  content: "";

  position: fixed;
  top: -50%;
  left: -50%;
  z-index: -1;

  width: 200vw;
  height: 200vh;

  background: none;

}

/* ШАПКА */
/* ШАПКА */
/* ШАПКА */

.body__header {
  position: relative;
  margin: 0 auto;
}
.header {
  background-color: #f7e296;

  width: 1160px;
  min-height: 185px;

  padding: 33px 60px 0;
}
.header__logo {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  line-height: 48px;
  letter-spacing: 0.48px;
  text-indent: -3px;

  position: absolute;
  top: -72px;
}
.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 32px;
}
.header__bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  display: flex;
  position: relative;
}
.search-form::before {
  position: absolute;
  left: 3px;
  bottom: 16px;

  width: 16px;
  height: 16px;

  background-image: url("../img/search.svg");

  content: "";
}
.search-form__input {
  background-color: inherit;

  border: none;
  outline: none;
  border-bottom: 2px solid transparent;

  width: 355px;
  height: 50px;

  padding: 0;
  padding-left: 38px;
}
.search-form__input::placeholder {
  color: rgba(0,0,0,0.3);
}
.search-form__input:hover::placeholder {
  color: rgba(0,0,0,0.6);
}
.search-form__input:focus::placeholder {
  color: rgba(0,0,0,0.3);
}
/* поле поиска остается в фокусе, когда там есть текст, но не курсор */
.search-form__input:focus, .search-form__input:not(:placeholder-shown) {
  border-bottom: 2px solid black;
}
.search-form__button {
  color: rgba(0,0,0,1);

  background-color: inherit;

  outline: none;
  border: 2px solid black;

  width: 85px;
  height: 50px;

  /* Используется вместо display: none для сохранения доступности*/
  z-index: -1;
}
/* появление кнопки, если поле с поиском в фокусе */
.search-form__input:focus + .search-form__button {
  z-index: 0;
}
/* появление кнопки, если в поле с поиском есть текст */
.search-form__input:not(:placeholder-shown) + .search-form__button {
  z-index: 0;
}
.search-form__button:hover {
  color: rgba(255,255,255,1);

  background-color: black;
}
.search-form__button:active {
  color: rgba(255,255,255,0.3);

  z-index: 0;
}
.search-form__button:focus {
  color: rgba(255,255,255,1);

  background-color: black;
  z-index: 0;
}

.header__user-menu-left-column {
  width: 260px;
}
.user-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 500px;
}

.login-submenu {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style-type: none;
}
.login-submenu__point {
  position: relative;
  margin-right: 26px;
}
.login-submenu__point:last-child {
  margin-right: 0;
}
.login-submenu__point-login {
  padding-left: 26px;
}
.login-submenu__point-login::before {
  position: absolute;
  left: 0px;
  bottom: 9px;

  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");

  content: "";
}

.account-submenu {
  /* Для появления поменять на display: flex */
  display: none;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  width: 280px;

  list-style-type: none;
}
.account-submenu__point {
  position: relative;
  margin-right: 26px;
}
.account-submenu__point:last-child {
  margin-right: 0;
}
.account-submenu__point-username {
  padding-left: 26px;
}
.account-submenu__point-username::before {
  position: absolute;
  left: 0px;
  bottom: 9px;

  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");

  content: "";
}
.account-submenu__point-out {
  margin-left: -7px;

  color: rgba(0,0,0,0.3);
}
.account-submenu__point-out:hover {
  color: rgba(0,0,0,0.6);
}
.account-submenu__point-out:active {
  color: rgba(0,0,0,1);
}

.header__user-menu-right-column {
  justify-content: flex-end;
}
.product-submenu {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style-type: none;
}
.product-submenu__point {
  position: relative;
}
.product-submenu__point:nth-child(2n+1) {
  margin-right: 40px;
}
.product-submenu__point-compare {
  padding-left: 20px;
}
.product-submenu__point-compare::before {
  position: absolute;
  left: 0;
  bottom: 9px;

  width: 10px;
  height: 10px;

  background-image: url("../img/compare.svg");

  content: "";
}
.product-submenu__point-cart {
  padding-left: 22px;
}
.product-submenu__point-cart::before {
  position: absolute;
  left: 0;
  bottom: 9px;

  width: 12px;
  height: 12px;

  background-image: url("../img/cart.svg");

  content: "";
}

.catalog-menu__title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  margin: 0;
  padding-right: 38px;
  position: relative;
}
.catalog-menu__title::after {
  position: absolute;
  right: 10px;
  top: 1px;

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");

  opacity: 0.3;

  content: "";
}
.catalog-menu__columns {
  list-style-type: none;

  width: 100%;

  margin: 0;
  padding-left: 60px;
  padding-top: 22px;
  padding-bottom: 36px;
  position: absolute;
  right: 0px;
  z-index: 1;

  display: none;

  background-color: #f7e296;
}
.catalog-menu__list {
  padding: 0;
  margin: 0;

  list-style-type: none;
}
.catalog-menu:hover .catalog-menu__columns {
  display: flex;
}
/* появление меню при выборе с клавиатуры */
.catalog-menu:focus-within .catalog-menu__columns {
  display: flex;
}
.catalog-menu__title .link:focus {
  outline: 0;
}
.catalog-menu__column {
  margin-right: 60px;
}
.catalog-menu__column:last-child {
  margin-right: 0;
}
.catalog-menu__item {
  line-height: 36px;
}

.site-menu {
  flex-wrap: wrap;

  width: 500px;
}
.site-menu__list {
  padding: 0;
  margin: 0;
  /* нивилируем letter-spacing в конце строки*/
  margin-right: -5px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.site-menu_item {
  text-transform: uppercase;
  list-style-type: none;
  font-size: 18px;
  letter-spacing: 3.6px;

  margin-right: 34px;
}
.site-menu_item:last-child {
  margin-right: 0;
}
.header__site-menu-right-column {
  margin-left: auto;
  margin-right: 0;
}

/* ГЛАВНАЯ СТРАНИЦА */
/* ГЛАВНАЯ СТРАНИЦА */
/* ГЛАВНАЯ СТРАНИЦА */

/* СЛАЙДЕР */
.main-page_slider-product {
  margin: 0 auto;
  margin-bottom: 103px;
}
.slider-product::after {
  width: 100px;
  border-top: 7px solid white;

  position: absolute;
  top: 40px;
  right: 460px;

  content: "";
}
.slider-product {
  width: 1160px;

  background-image: linear-gradient(to bottom, #f7e296 114px, transparent 114px);

  position: relative;
  padding-top: 474px;
}
.slider-product__radio-lable {
  margin-right: 17px;

  position: relative;
  left: 999px;
  bottom: 146px;
  z-index: 1;
}
.slider-product__radio-lable:last-of-type {
  margin-right: 0;
}
.slider-product__radio-lable::before {
  display: inline-block;

  width: 12px;
  height: 12px;

  background-image: url("../img/slider-button-empty.svg");

  content: "";
}
.slider-product__radio:checked + .slider-product__radio-lable::before {
  background-image: url("../img/slider-button.svg");
}
.slider-product__item {
  list-style-type: none;

  display: none;
  justify-content: space-between;

  position: absolute;
  top: 0px;

  width: auto;
}
.slider-product__radio:checked + .slider-product__radio-lable + .slider-product__item {
  display: flex;
}
.slider-product__item::before {
  font-size: 179.2px;
  color: white;

  position: absolute;
  right: 50px;
  top: -25px;
}
.slider-product__item:nth-of-type(1)::before {
  content: "01";
}
.slider-product__item:nth-of-type(2)::before {
  content: "02";
}
.slider-product__item:nth-of-type(3)::before {
  content: "03";
}
.slider-product__left-column {
  display: flex;
  justify-content: center;

  width: 480px;

  margin-right: 120px;
}
.slider-product__item-img {
  position: relative;
}
.slider-product__item:nth-of-type(1) .slider-product__item-img {
  top: 2px;
  left: 43px;
}
.slider-product__item:nth-of-type(2) .slider-product__item-img {
  top: 15px;
  left: 49px;
}
.slider-product__item:nth-of-type(3) .slider-product__item-img {
  top: 67px;
  left: 54px;
}
.slider-product__right-column {
  display: flex;
  flex-direction: column;

  width: 560px;
  padding-top: 82px;
}
.slider-product__item-slogan {
  /* порядок задан CSS, а не HTML для соблюдения семантической разметки*/
  order: -3;

  line-height: 56px;

  margin-bottom: 19px;

  z-index: 1;
}
.slider-product__item-text {
  order: -2;

  letter-spacing: 0.13px;

  margin-top: 0;
  margin-bottom: 43px;
  padding-right: 70px;
}
.slider-product__item-more-btn  {
  order: -1;

  margin-bottom: 52px;

  width: 220px;
}
.slider-product__item-features-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}
.slider-product__item-features-item {
  list-style-type: none;

  margin-right: 80px;
  margin-bottom: 15px;
}
.slider-product__item-features-item:last-child {
  margin-right: 0px;
}
.slider-product__item-features-title {
  font-family: "gilroylight", Arial, sans-serif;
  font-size: 36px;

  margin: 0;
  margin-bottom: 15px;
}
.slider-product__item-features-text {
  margin: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 0.0px;
}


/* КАТАЛОГ */
.main-page_main-catalog {
  margin: 0 auto;
  margin-bottom: 81px;
}
.main-catalog {
  width: 1160px;
}
.main-catalog__list {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;
  margin: 0;
}
.main-catalog__item {
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 24px;

  position: relative;

  color: rgba(0,0,0,1);
}
.main-catalog__item::before {
  display: block;

  width: 160px;
  height: 160px;

  background-color: #f7e296;

  position: absolute;
  bottom: 81px;
  z-index: -1;

  content: '';
}
.main-catalog__item::after {
  display: block;

  width: 160px;
  height: 160px;

  background-position: center;
  background-repeat: no-repeat;

  position: absolute;
  bottom: 81px;
  z-index: -1;

  content: '';
}
.main-catalog__item:nth-child(1)::after {
  background-image: url("../img/popular-1.svg");
  background-position: 50% 50%;
}
.main-catalog__item:nth-child(2)::after {
  background-image: url("../img/popular-2.svg");
  background-position: 50% 95%;
}
.main-catalog__item:nth-child(3)::after {
  background-image: url("../img/popular-3.svg");
  background-position: 56% 52%;
}
.main-catalog__item:nth-child(4)::after {
  background-image: url("../img/popular-4.svg");
  background-position: 53% 53%;
}
.main-catalog__item:nth-child(5)::after {
  background-image: url("../img/popular-5.svg");
  background-position: 53% 50%;
}
.main-catalog__item:nth-child(6)::after {
  background-image: url("../img/popular-6.svg");
  background-position: 50% 54%;
}
.main-catalog__item:hover::before {
  background-color: #f0c52e;
}
.main-catalog__item:active::after {
  opacity: 0.3;
}
.main-catalog__item:active {
  color: rgba(0,0,0,0.3);
}
.main-catalog__link {
  display: inline-block;

  padding-top: 193px;
  width: 160px;
}

/* СЛАЙДЕР СЕРВИСОВ   */
.main-page_slider-service {
  margin-bottom: 95px;
}
.slider-service {
  background-image: linear-gradient(to bottom, transparent 100px, #e5e5e5 40px);

  padding-bottom: 68px;
}
.slider-service__list {
  padding-top: 80px;
  padding-bottom: 41px;

  width: 1160px;
  height: auto;

  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.slider-service__service-title {
  width: 160px;

  margin-bottom: 26px;
  position: relative;
}
.slider-service__service-title:last-child {
  margin-bottom: 0px;
}
.slider-service__radio:checked + .slider-service__service-title {
  background: none;

  color: #f0c52e;
}
.slider-service__radio:checked + .slider-service__service-title::before {
  width: 280px;
  height: 40px;

  background-color: black;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  content: "";
}
.slider-service__item {
  display: none;

  border-left: 7px solid black;

  position: absolute;
  top: 0;
  left: 277px;
  padding-left: 118px;
  padding-top: 73px;

  width: 558px;
  height: 100%;
}
.slider-service__radio:checked + .slider-service__service-title + .slider-service__item {
  display: block;
}
.slider-service__item::after {
  position: absolute;

  content: "";
}
.slider-service__item:nth-of-type(1)::after {
  width: 136px;
  height: 164px;

  background-image: url("../img/delivery.svg");

  right: -260px;
  top: 85px;
}
.slider-service__item:nth-of-type(2)::after {
  width: 171px;
  height: 195px;

  background-image: url("../img/warranty.svg");

  right: -279px;
  top: 61px;
}
.slider-service__item:nth-of-type(3)::after {
  width: 156px;
  height: 188px;

  background-image: url("../img/credit.svg");

  right: -255px;
  top: 61px;
}
.slider-service__item-title {
  margin: 0;
  margin-bottom: 31px;
}
.slider-service__item-text {
  margin: 0;
}

/* БРЕНДЫ */
.main-page_brands {
  margin: 0 auto;
  margin-bottom: 89px;
}
.brands {
  width: 1160px;
}
.brands__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style-type: none;
}
.brands__logo {
  filter: opacity(0.2) grayscale(1);
}
.brands__logo:hover {
  filter: opacity(1) grayscale(0);
}

/* О НАС */
.main-page_about-contact {
  display: flex;
  justify-content: space-between;

  width: 1160px;

  margin: 0 auto;
  margin-bottom: 81px;
}
.main-about {
  width: 480px;

  display: flex;
  flex-direction: column;

  position: relative;
  padding-top: 52px;
}
.main-about::before {
  width: 80px;

  position: absolute;
  top: 0px;

  border-top: 7px solid black;

  content: "";
}
.main-about__title {
  margin: 0;
  margin-bottom: 43px;
}
.main-about__text {
  margin: 0;
  margin-bottom: 30px;

  letter-spacing: 0;
}
.main-about__text:last-of-type {
  margin-bottom: 77px;
}
.main-about__transport-list {
  margin: 0;
  padding: 0;
  margin-bottom: 66px;
}
.main-about__transport-item {
  list-style-type: none;
  font-size: 16px;

  margin-bottom: 22px;
  padding-left: 34px;
  position: relative;
}
.main-about__transport-item:last-child {
  margin-bottom: 0;
}
.main-about__transport-item::before {
  content: "";

  position: absolute;
  left: 0;
  bottom: 4px;

  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 2px solid #e6e6e6;
}
.main-about__buttom {
  width: 260px;

  margin-top: auto;
}
.main-contact {
  width: 560px;

  display: flex;
  flex-direction: column;

  position: relative;
  padding-top: 52px;
}
.main-contact::before {
  width: 80px;

  position: absolute;
  top: 0px;

  border-top: 7px solid black;

  content: "";
}
.main-contact__title {
  margin: 0;
  margin-bottom: 43px;
}
.main-contact__text {
  margin: 0;
  margin-bottom: 39px;

  letter-spacing: 0;
}
.main-contact__map-wrap {
  display: block;

  margin: 0;
  margin-bottom: 66px;
}
.main-contact__buttom {
  width: 260px;

  margin-top: auto;
}

/* ПОДВАЛ */
/* ПОДВАЛ */
/* ПОДВАЛ */

.footer {
  background-color: #464646;
  color: white;

  padding-top: 56px;
  padding-bottom: 44px;
}
.footer__inner {
  width: 1160px;

  margin: 0 auto;
}
.footer__first__row {
  display: flex;
  justify-content: space-between;

  margin-bottom: 19px;
}
.footer__logo {
  font-size: 48px;
  text-transform: uppercase;
  color: #ffc600;

  margin: 0;
}
.footer__user-menu {
  margin-bottom: 12px;
}
.footer__user-menu-left-column {
  margin-left: auto;
  margin-right: 42px;
}
.footer__account-menu-left-column {
  margin-left: auto;
  margin-right: -14px;
}
.footer .account-submenu__point-out {
  color: rgba(255,255,255,0.3);
}
.footer .account-submenu__point-out:hover {
  color: rgba(255,255,255,0.6);
}
.footer .account-submenu__point-out:active {
  color: rgba(255,255,255,1);
}
.footer__two__row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 48px;
}
.footer__address {
  margin: 0;

  width: 220px;

  letter-spacing: 0;
}
.footer__phone {
  margin: 0;

  width: 220px;

  letter-spacing: 0;
  text-align: right;
}
.footer__site-menu {
  padding-top: 8px;
}
.footer .login-submenu__point::before {
  background-image: url("../img/user-footer.svg");
}
.footer .account-submenu__point-username::before {
  background-image: url("../img/user-footer.svg");
}
.footer .product-submenu__point-compare::before {
  background-image: url("../img/compare-footer.svg");
}
.footer .product-submenu__point-cart::before {
  background-image: url("../img/cart-footer.svg");
}
.footer__three__row {
  display: flex;
  justify-content: center;

  position: relative;
}
.footer__three__row::before {
  width: 80px;

  border-top: 7px solid #ffc600;

  position: absolute;
  left: 0;
  bottom: 35px;

  content: "";
}
.footer__social {
  margin-left: 509px;
}
.footer__social-link {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 19px;
  opacity: 0.3;
}
.footer__social-link:hover {
  opacity: 0.6;
}
.footer__social-link:active {
  opacity: 0.1;
}
.footer__social-link:last-child {
  margin-right: 0;
}
.footer__social-link:nth-child(1) {
  background-image: url("../img/fb.svg");
}
.footer__social-link:nth-child(2) {
  background-image: url("../img/instagram.svg");
}
.footer__social-link:nth-child(3) {
  background-image: url("../img/twitter.svg");
}
.footer__copyright-wrap {
  margin-left: auto;
}
.footer__copyright-link {
  display: inline-block;
  width: 27px;
  height: 35px;
  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
}


/* МОДАЛЬНОЕ ОКНО "НАПИШИТЕ НАМ" */
.write-us {
  background-color: white;

  padding: 95px 100px 62px;

  width: 960px;

  display: none;
}
.write-us:target {
  display: block;
}
.write-us__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.write-us__input-wrap {
  margin: 0;
  margin-bottom: 35px;

  width: 360px;
}
.write-us__textarea-wrap {
  margin: 0;
  margin-bottom: 21px;

  width: 760px;
}
.write-us__label {
  font-size: 18px;
  display: inline-block;

  margin-bottom: 9px;
}
.input-text {
  border: none;
  background-color: rgba(229,229,229,0.5);

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;

  height: 50px;
  width: 100%;

  padding: 15px 19px;
}
.input-text:hover {
  background-color: rgba(229,229,229,0.8);
}
.input-text:focus {
  border: none;
  background-color: white;
  outline: 3px solid rgba(240,197,46,0.5);
}
.input-text:not(:placeholder-shown):invalid {
  border: none;
  outline: none;
  background-color: rgba(237,181,181,0.5);
}
.write-us__textarea {
  min-height: 156px;
  resize: none;
}
.write-us__submit-button {
  width: 200px;
}
.write-us__close {
  position: absolute;
  top: 22px;
  right: 22px;

  border: none;

  display: block;

  width: 55px;
  height: 55px;

  background: none;
  background-image: url("../img/modal-close.svg");
  background-position: center;
  background-repeat: no-repeat;
}


/* КАТАЛОГ */
/* КАТАЛОГ */
/* КАТАЛОГ */

/* ЗАГОЛОВОК И КРОШКИ */
.inner-page__title {
  width: 1040px;

  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 28px;
}
.inner-page__breadcrumbs {
  width: 1040px;

  margin: 0 auto;
}
.breadcrumbs {
  padding: 0;
  margin-bottom: 49px;

  display: flex;
}
.breadcrumbs__item {
  list-style-type: none;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;


  margin-right: 35px;

  position: relative;
}
.breadcrumbs__item:last-child {
  margin-right: 0;
}
.breadcrumbs__item--active:hover {
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs__item--active:active {
  color: rgba(0, 0, 0, 0.1);
}
.breadcrumbs__item:not(:last-child)::after {
  content: "";

  position: absolute;
  top: 5px;
  right: -21px;

  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
}

/* ОСНОВНОЕ СОДЕРЖАНИЕ */
/* ОСНОВНОЕ СОДЕРЖАНИЕ */
/* ОСНОВНОЕ СОДЕРЖАНИЕ */

.inner-page__main-container {
  display: flex;
  justify-content: center;

  width: 100%;
}

/* ФИЛЬТР */
.selection-product {
  display: flex;
  flex-direction: column;

  width: 328px;

  background: #eee;
}
.inner-page__left-column {
  flex-grow: 1;
}
.selection-product__title-wrap {
  background-color: #dcdcdc;
  display: flex;

  justify-content: flex-end;
}
.selection-product__title {
  font-size: 16px;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  width: 268px;

  margin: 0;
  padding: 27px 0;
}
.selection-product__form-wrap {
  display: flex;

  align-self: flex-end;

  width: 268px;
}
.selection-product__form {
  width: 200px;

  padding-top: 68px;
}
.selection-product__group-form-wrap {
  border-top: 2px solid black;
  padding-top: 13px;
  margin-bottom: 42px;
}
.selection-product__group-form {
  border: none;

  padding: 0;
  margin: 0;
}
.selection-product__form-title {
  font-size: 18px;

  margin-bottom: 29px;
}

.selection-product__range {
  width: 100%;
  margin: 9px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
.selection-product__range:focus {
  outline: none;
}
.selection-product__range::-webkit-slider-runnable-track {
  background: #91c92f;
  border: 0;
  border-radius: 1.4px;
  width: 100%;
  height: 2px;
  cursor: pointer;
}
.selection-product__range::-webkit-slider-thumb {
  margin-top: -9px;
  width: 20px;
  height: 20px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}
.selection-product__range:focus::-webkit-slider-runnable-track {
  background: #9dd23f;
}
.selection-product__range::-moz-range-track {
  background: #dbdbdb;
  border: 0;
  border-radius: 1.4px;
  width: 100%;
  height: 2px;
  cursor: pointer;
}
.selection-product__range::-moz-range-progress {
  background-color: #9dd23f;
}
.selection-product__range::-moz-range-thumb {
  width: 2px;
  height: 2px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50px;
  cursor: pointer;
}
.selection-product__range::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 9px 0;
  color: transparent;
  width: 100%;
  height: 2px;
  cursor: pointer;
}
.selection-product__range::-ms-fill-lower {
  background: #82b42a;
  border: 0;
  border-radius: 2.8px;
}
.selection-product__range::-ms-fill-upper {
  background: #91c92f;
  border: 0;
  border-radius: 2.8px;
}
.selection-product__range::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
.selection-product__range:focus::-ms-fill-lower {
  background: #91c92f;
}
.selection-product__range:focus::-ms-fill-upper {
  background: #9dd23f;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  .selection-product__range {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}
.selection-product__range {
  padding-bottom: 14px;

  width: 100%;
}

.selection-product__input-wrap {
  margin: 0;
  margin-bottom: 21px;
  padding-top: 1px;
}
.selection-product__lable {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;

  padding-left: 38px;

  position: relative;
}
.selection-product__lable:hover:not(:active) {
  opacity: 0.6;
}
.selection-product__checkbox:focus-visible+.selection-product__checkbox-lable {
  text-decoration: underline;
  opacity: 0.6;
}
.selection-product__checkbox-lable::before {
  content: "";

  position: absolute;
  left: -2px;
  bottom: -3px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}
.selection-product__checkbox:checked + .selection-product__checkbox-lable::before {
  width: 27px;

  background-image: url("../img/checkbox-on.svg");
}
.selection-product__radio:focus-visible+.selection-product__radio-lable {
  text-decoration: underline;
  opacity: 0.6;
}
.selection-product__radio-lable::before {
  content: "";

  position: absolute;
  left: -2px;
  bottom: -3px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}
.selection-product__radio:checked + .selection-product__radio-lable::before {
  background-image: url("../img/radio-on.svg");
}
.selection-product__submit-button {
  width: 198px;
  margin: 0;
}

.inner-page__right-column {
  display: flex;
  flex-direction: column;

  flex-basis: 832px;
  flex-grow: 1;
}

/* СОРТИРОВКА */
.sorting {
  background: #eee;
}
.sorting-inner {
  display: flex;
  align-items: center;

  padding-left: 73px;

  width: 832px;
}
.sorting__title {
  font-size: 16px;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  margin: 0;
  margin-right: 50px;
  padding: 27px 0;
}
.sorting__type-list {
  display: flex;

  padding: 0;
  margin: 0;
}
.sorting__type-item {
  list-style-type: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  color: rgba(0,0,0,1);

  margin-right: 30px;
}
.sorting__type-item--disabled {
  color: rgba(0,0,0,0.2);
}
.sorting__type-item--disabled:hover {
  color: rgba(0,0,0,0.4);
}
.sorting__type-item--disabled:active {
  color: rgba(0,0,0,1);
}
.sorting__type-item:last-child {
  margin-right: 0;
}
.sorting__order-list {
  display: flex;

  padding: 0;
  margin: 0;
  margin-left: auto;
}
.sorting__order-item {
  list-style-type: none;
}
.sorting__order-item-descending {
  display: inline-block;

  width: 15px;
  height: 30px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: right;

  margin-right: 15px;
}
.sorting__order-item-ascending {
  display: inline-block;

  width: 15px;
  height: 30px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: right;
}
.sorting__order-item--disabled {
  opacity: 0.2;
}
.sorting__order-item--disabled:hover {
  opacity: 0.4;
}
.sorting__order-item--disabled:active {
  opacity: 1;
}

/* СПИСОК ПРОДУКТОВ */
.inner-page__products {
  margin-bottom: 35px;
}
.products {
  width: 832px;
}
.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;

  margin: 0;

  padding: 0;
  padding-left: 72px;
  padding-top: 68px;
}
.products__item {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  width: 360px;

  position: relative;

  margin-bottom: 46px;
}
.products__item:nth-last-of-type(1), .products__item:nth-last-of-type(2) {
  margin-bottom: 0;
}
.products__item--new::after {
  display: flex;
  justify-content: center;
  align-items:center;

  content: "new";

  text-transform: uppercase;
  color: #d6d6d6;

  width: 60px;
  height: 60px;

  position: absolute;
  top: 29px;
  right: 27px;

  border: 2px solid #d6d6d6;
  border-radius: 30px;
}
.products__item-img {
  order: -1;
  margin-bottom: 32px;
}
.products__item-title {
  font-size: 18px;
  line-height: 24px;

  margin: 0;

  width: 260px;
}
.products__item-price {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  margin: 0;
}
.products__item-option-list {
  display: none;
  flex-direction: column;
  align-items: center;

  list-style-type: none;

  margin: 0;
  padding: 0;

  position: absolute;
  top: 172px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.products__item:hover .products__item-option-list {
  display: flex;
}
.products__item:hover .products__item-img {
  opacity: 0.3;
}
.products__item:hover::after {
  opacity: 0.3;
}
.products__item::before {
  content: "";

  position: absolute;
  z-index: -1;

  width: 360px;
  height: 380px;

  background-color: #efefef;
}
.products__item-option-item-cart {
  width: 200px;

  margin-bottom: 15px;
}
.products__item-option-item-compare {
  border: none;
  background: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: rgba(0,0,0,0.5);
}
.products__item-option-item-compare:hover {
  color: rgba(0,0,0,1);
}
.products__item-option-item-compare:active {
  color: rgba(0,0,0,0.2);
}

/* ПАГИНАЦИЯ */
.inner-page__pagination {
  margin-left: 72px;
  margin-bottom: 77px;
}
.pagination {
  background: #ebebeb;

  width: 760px;
  padding: 26px;

  display: flex;
  justify-content: space-between;
}
.pagination__nav {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3.2px;

  min-width: 80px;
}
.pagination__nav--active:hover {
  background-color: #d9d9d9;
}
.pagination__nav--active:active {
  color: rgba(0,0,0,0.3);
}
.pagination-list {
  list-style-type: none;

  margin: 0;
  padding: 0;

  display: flex;
}
.pagination__item {
  font-size: 16px;
  color: rgba(0,0,0,0.3);

  margin-right: 31px;
}
.pagination__item:last-child {
  margin-right: 0px;
}
.pagination__item--not-current:hover {
  color: rgba(0,0,0,0.6);
}
.pagination__item--not-current:active {
  color: rgba(0,0,0,1);
}
.pagination__item--current {
  color: black;
}
.pagination__item--current:hover {
  color: black;
}
