@font-face {
    font-family: 'gilroyextrabold';
    src: url('../font/gilroy-extrabold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'gilroylight';
    src: url('../font/gilroy-light-webfont.woff2') format('woff2');
}
*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

.body {
  font-family: "gilroyextrabold", Arial, sans-serif;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.button {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-decoration: none;
  color: rgba(0,0,0,1);
  line-height: 24px;
  text-align: center;

  padding: 8px 0;

  display: block;

  background-image: linear-gradient(to bottom, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
}
.button:hover {
  background-color: #f0c52e;
}
.button:focus {
  background-color: #f0c52e;

  color: rgba(0,0,0,0.3);
}
.link {
  text-decoration: none;
  color: inherit;
}
.text {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.2px;
}
.active-element-opacity:hover {
  filter: opacity(0.6);
}
.active-element-opacity:active {
  filter: opacity(0.3);
}
.title {
  font-size: 47px;
  letter-spacing: 0.47px;
  line-height: 48px;
}

/* ШАПКА */
/* ШАПКА */
/* ШАПКА */

.header {
  background-color: #f7e296;

  width: 1160px;

  position: relative;

  margin: 40px auto 0 auto;
  padding: 0 60px 36px;
}
.header__logo {
  font-size: 48px;
  text-transform: uppercase;
  line-height: 48px;
  letter-spacing: 0.48px;

  position: absolute;
  top: -72px;
  left: 58px;
}
.header__top-row {
  display: flex;
  padding-top: 33px;
}
.search-form {
  display: flex;
  position: relative;
}
.search-form::before {
  content: "";

  position: absolute;
  left: 3px;
  bottom: 16px;

  width: 16px;
  height: 16px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0;
}
.search-form__search {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: rgba(0,0,0,0.3);
  letter-spacing: 0.15px;

  background-color: inherit;

  border: none;

  width: 360px;
  height: 50px;

  padding-left: 38px;
}
.search-form__search:hover {
  color: rgba(0,0,0,0.6);
}
/* поле поиска остается в фокусе, когда там есть текст, но не курсор */
.search-form__search:focus, .search-form__search:not(:placeholder-shown) {
  color: rgba(0,0,0,1);

  outline: none;
  border-bottom: 2px solid black;
}
.search-form__button {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  color: black;

  background-color: inherit;

  border: 2px solid black;

  width: 85px;
  height: 50px;

  display: none;
}
/* появление кнопки, если поле с поиском в фокусе */
.search-form__search:focus + .search-form__button {
  display: block;
}
/* появление кнопки, если в поле с поиском есть текст */
.search-form__search:not(:placeholder-shown) + .search-form__button {
  display: block;
}
.search-form__button:hover {
  color: rgba(255,255,255,1);

  background-color: black;
  display: block;
}
.search-form__button:active {
  color: rgba(255,255,255,0.3);
  outline: none;
  border-radius: 0;
  display: block;
}
.search-form__button:focus {
  outline: none;
  border-radius: 0;
  display: block;
}
.user-menu {
  display: flex;
  width: 500px;

  justify-content: space-between;
  align-items: center;

  margin-left: auto;
}
.account-submenu {
  display: flex;

  margin: 0;
  padding: 0;

  width: 280px;

  flex-wrap: wrap;
}
.account-submenu__point {
  list-style-type: none;
  letter-spacing: 0.15px;
  position: relative;
}
.account-submenu__point-login {
  margin-left: 26px;
}
.account-submenu__point-login::before {
  content: "";

  position: absolute;
  left: -26px;
  bottom: 9px;

  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0;
}
.account-submenu__point-username {
  margin-left: 26px;
  display: none;
}
.account-submenu__point-username::before {
  content: "";

  position: absolute;
  left: -26px;
  bottom: 9px;

  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0;
}
.account-submenu__point-out {
  margin-left: 21px;

  display: none;

  color: rgba(0,0,0,0.3);
}
.account-submenu__point-out:hover {
  color: rgba(0,0,0,0.6);
}
.account-submenu__point-out:active {
  color: rgba(0,0,0,1);
}
.product-submenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  margin: 0;
  padding: 0;
}
.product-submenu__point {
  list-style-type: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;

  position: relative;
}
.product-submenu__point:nth-child(2n+1) {
  margin-right: 65px;
}
.product-submenu__point-compare::before {
  content: "";

  position: absolute;
  left: -20px;
  bottom: 3px;

  width: 10px;
  height: 10px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0;
}
.product-submenu__point-cart::before {
  content: "";

  position: absolute;
  left: -23px;
  bottom: 3px;

  width: 12px;
  height: 12px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0;
}

.header__bottom-row {
  display: flex;

  margin-top: 28px;
}
.catalog-menu__title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  padding-top: 4px;
}
.catalog-menu {

}
.catalog-menu__title {
  padding-right: 48px;
  margin-top: 0;

  position: relative;
}
.catalog-menu__title:focus {
  outline: none;
}
.catalog-menu__title::after {
  content: "";

  position: absolute;
  left: 230px;
  top: 5px;

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0;

  opacity: 0.3;
}
.catalog-menu__list {
  padding: 0;
  margin: 0;
}
.catalog-menu__columns {
  list-style-type: none;
  width: 100%;

  padding: 0;
  margin: 0;
  position: absolute;
  right: 0px;

  display: none;

  background-color: #f7e296;

  z-index: 2;
}
.catalog-menu:hover .catalog-menu__columns {
  display: flex;
}
.catalog-menu__columns:hover {
  display: none;
}
.catalog-menu__column {
  margin-bottom: 35px;
  margin-top: 7px;
}
.catalog-menu__column:nth-child(1) {
  margin-left: 60px;
}
.catalog-menu__column:nth-child(2) {
  margin-left: 60px;
}
.catalog-menu__column:nth-child(3) {
  margin-left: 60px;
}
.catalog-menu__item {
  list-style-type: none;
  letter-spacing: 0.15px;
  line-height: 36px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.site-menu {
  margin-left: auto;

  flex-wrap: wrap;
}
.site-menu__list {
  padding: 0;
  margin: 0;
  margin-left: auto;

  width: 500px;

  display: flex;
  flex-wrap: wrap;
}
.site-menu_item {
  text-transform: uppercase;
  list-style-type: none;
  font-size: 18px;
  letter-spacing: 3.6px;

  margin-left: 34px;
  padding-top: 4px;
}
.site-menu_item:nth-child(3n + 1) {
  margin-left: 0;
}
.site-menu_item:nth-child(3n + 2) {
  margin-right: auto;
}
.site-menu_item:nth-child(3n) {
  margin-right: -5px;
}

/* ГЛАВНАЯ СТРАНИЦА */
/* ГЛАВНАЯ СТРАНИЦА */
/* ГЛАВНАЯ СТРАНИЦА */

/* СЛАЙДЕР */
.slider-product {
  width: 1160px;

  margin: 0 auto;
  margin-bottom: 103px;

  background-image: linear-gradient(to bottom, #f7e296 114px, transparent 114px);

  position: relative;
}
.slider-product__switch {
  position: absolute;
  top: 311px;
  right: 83px;

  z-index: 1;
}
.slider-product__radio-lable {
  margin-left: 17px;
}
.slider-product__radio-lable::before {
  content: "";

  display: inline-block;

  width: 12px;
  height: 12px;

  background-image: url("../img/slider-button-empty.svg");
}
/* .slider-product__radio:nth-child(n):checked ~ .slider-product__switch .slider-product__radio-lable:nth-child(1)::before {
  background-image: url("../img/slider-button.svg");
} */
#slider-product__radio-1:checked ~ .slider-product__switch .slider-product__radio-lable:nth-child(1)::before,
#slider-product__radio-2:checked ~ .slider-product__switch .slider-product__radio-lable:nth-child(2)::before,
#slider-product__radio-3:checked ~ .slider-product__switch .slider-product__radio-lable:nth-child(3)::before {
  background-image: url("../img/slider-button.svg");
}
.slider-product__item {
  list-style-type: none;

  display: none;

  position: relative;
}
.slider-product__radio:checked + .slider-product__item {
  display: flex;
}
.slider-product__item:nth-of-type(1)::before {
  content: "01";

  font-size: 179.2px;
  color: white;

  position: absolute;
  right: 50px;
  top: -25px;
}
.slider-product__item:nth-of-type(2)::before {
  content: "02";

  font-size: 179.2px;
  color: white;

  position: absolute;
  right: 50px;
  top: -25px;
}
.slider-product__item:nth-of-type(3)::before {
  content: "03";

  font-size: 179.2px;
  color: white;

  position: absolute;
  right: 50px;
  top: -25px;
}
.slider-product__left-column {
  display: flex;

  width: 480px;

  justify-content: center;
  margin-bottom: auto;
}
.slider-product__right-column {
  display: flex;
  flex-direction: column;

  width: 560px;
  padding-top: 80px;
  margin-left: auto;
}
.slider-product__item-img {
  position: relative;
}
.slider-product__item:nth-of-type(1) .slider-product__item-img {
  top: 2px;
  left: 43px;
}
.slider-product__item:nth-of-type(2) .slider-product__item-img {
  top: 15px;
  left: 49px;
}
.slider-product__item:nth-of-type(3) .slider-product__item-img {
  top: 67px;
  left: 54px;
}
.slider-product__item-slogan {
  line-height: 56px;

  order: -3;
  z-index: 1;

  margin-bottom: 5px;
}
.slider-product__item-text {
  letter-spacing: 0.13px;

  padding-right: 80px;

  order: -2;
}
.slider-product__item-features-list {
  margin: 0;
  padding: 0;
  margin-top: 5px;

  display: flex;
}
.slider-product__item-features-item {
  list-style-type: none;
  font-family: "gilroylight", Arial, sans-serif;

  margin-right: 80px;
}
.slider-product__item-features-item:last-child {
  margin-right: 0px;
}
.slider-product__item-features-title {
  font-size: 36px;

  margin-bottom: 15px;
}
.slider-product__item-features-text {
  font-size: 13px;
  letter-spacing: 0.15px;
}
.slider-product__item-more-btn  {
  order: -1;

  width: 220px;

  margin-top: 28px;
}

/* КАТАЛОГ */
.main-catalog {
  width: 1160px;

  margin: 0 auto;
  margin-bottom: 81px;
}
.main-catalog__list {
  display: flex;

  padding: 0;
  margin: 0;

  justify-content: space-between;
}
.main-catalog__item {
  list-style-type: none;
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 24px;

  display: inline-block;

  position: relative;

  color: rgba(0,0,0,1);
}
.main-catalog__item::before {
  content: '';

  display: block;

  width: 160px;
  height: 160px;

  background-color: #f7e296;
  background-position: center;
  background-repeat: no-repeat;

  position: absolute;
  bottom: 81px;
  z-index: -1;
}
.main-catalog__item::after {
  content: '';

  display: block;

  width: 160px;
  height: 160px;

  background-position: center;
  background-repeat: no-repeat;

  position: absolute;
  bottom: 81px;
  z-index: -1;
}
.main-catalog__item:nth-child(1)::after {
  background-image: url("../img/popular-1.svg");
  background-position: 50% 50%;
}
.main-catalog__item:nth-child(2)::after {
  background-image: url("../img/popular-2.svg");
  background-position: 50% 95%;
}
.main-catalog__item:nth-child(3)::after {
  background-image: url("../img/popular-3.svg");
  background-position: 56% 52%;
}
.main-catalog__item:nth-child(4)::after {
  background-image: url("../img/popular-4.svg");
  background-position: 53% 53%;
}
.main-catalog__item:nth-child(5)::after {
  background-image: url("../img/popular-5.svg");
  background-position: 53% 50%;
}
.main-catalog__item:nth-child(6)::after {
  background-image: url("../img/popular-6.svg");
  background-position: 50% 54%;
}
.main-catalog__item:hover::before {
  background-color: #f0c52e;
}
.main-catalog__item:active::after {
  opacity: 0.3;
}
.main-catalog__item:active {
  color: rgba(0,0,0,0.3);
}
.main-catalog__link {
  display: inline-block;

  padding-top: 193px;
  width: 160px;
}

/* СЕРВИСЫ */
.main-service {
  background-image: linear-gradient(to bottom, transparent 100px, #e5e5e5 40px);

  padding-bottom: 68px;
  margin-bottom: 95px;
}
.main-service__list {
  padding-top: 80px;
  padding-bottom: 41px;

  width: 1160px;
  height: auto;

  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.main-service__radio:checked + .main-service__service-title {
  background: none;
  color: #f0c52e;
}
.main-service__radio:checked + .main-service__service-title::before {
  content: "";

  width: 280px;
  height: 40px;

  background-color: black;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.main-service__radio:checked + .main-service__service-title + .main-service__item {
  display: block;
}
.main-service__service-title {
  width: 160px;

  margin-bottom: 26px;
  position: relative;
}
.main-service__service-title:last-child {
  margin-bottom: 0px;
}
.main-service__item {
  display: none;

  border-left: 7px solid black;

  position: absolute;
  top: 0;
  left: 277px;
  padding-left: 118px;
  padding-top: 73px;

  width: 558px;
  height: 100%;
}
.main-service__item::after {
  content: "";

  position: absolute;
}
.main-service__item:nth-of-type(1)::after {
  width: 136px;
  height: 164px;

  background-image: url("../img/delivery.svg");

  right: -260px;
  top: 85px;
}
.main-service__item:nth-of-type(2)::after {
  width: 171px;
  height: 195px;

  background-image: url("../img/warranty.svg");

  right: -279px;
  top: 61px;
}
.main-service__item:nth-of-type(3)::after {
  width: 156px;
  height: 188px;

  background-image: url("../img/credit.svg");

  right: -255px;
  top: 61px;
}
.main-service__item-title {
  margin: 0;
  margin-bottom: 31px;
}

/* БРЕНДЫ */
.brands {
  width: 1160px;

  margin: 0 auto;
  margin-bottom: 102px;
}
.brands__list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}
.brands__item {
  list-style-type: none;
}
.brands__logo {
  filter: opacity(0.2) grayscale(1);
}
.brands__logo:hover {
  filter: opacity(1) grayscale(0);
}

.about-contact-section {
  display: flex;
  justify-content: space-between;

  width: 1160px;

  margin: 0 auto;
}
.main-about {
  width: 480px;

  position: relative;
}
.main-about::before {
  content: "";

  width: 80px;

  position: absolute;
  top: -13px;

  border-top: 7px solid black;
}
.about-contact-section__text {
  margin-bottom: 30px;

  letter-spacing: 0;
}
.about-contact-section__text:nth-of-type(2) {
  margin-bottom: 77px;
}
.main-about__transport-list {
  padding-left: 34px;
  margin: 0;
  margin-bottom: 65px;
}
.main-about__transport-item {
  list-style-type: none;
  font-size: 16px;

  margin-bottom: 22px;
}
.about-contact-section__buttom {
  width: 260px;
}
.main-contact {
  width: 560px;
  height: 660px;

  /* display: flex;
  flex-direction: column; */

  position: relative;
}
.main-contact__text {

}
.main-contact__map-wrap {
  margin-top: 40px;
  margin-bottom: 65px;
}
.main-contact__buttom {
  display: block;

  margin-top: auto;
}
.about-contact-section__title {
  margin-bottom: 42px;
}
.main-contact::before {
  content: "";

  width: 80px;

  position: absolute;
  top: -13px;

  border-top: 7px solid black;
}

/* ПОДВАЛ */
/* ПОДВАЛ */
/* ПОДВАЛ */

.footer {
  background-color: #464646;
  color: white;
}
.footer__logo {
  font-size: 48px;
  text-transform: uppercase;
  color: #ffc600;
}
.write-us__label {
  font-size: 18px;
}
.input-text {
  border: none;
}
.input-text {
  border: none;
  background-color: rgba(229,229,229,0.5);

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.input-text:hover {
  background-color: rgba(229,229,229,0.8);
}
.input-text:focus {
  border: none;
  background-color: white;
  outline: 3px solid rgba(240,197,46,0.5);
}
.input-text:not(:placeholder-shown):invalid {
  border: none;
  outline: none;
  background-color: rgba(237,181,181,0.5);
}
.write-us__textarea {
  resize: none;
}
.submit-button {
  background: none;
  border: none;
}

/* КАТАЛОГ */
/* КАТАЛОГ */
/* КАТАЛОГ */

.breadcrumbs__item {
  list-style-type: none;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}
.selection-product {
  background: #eee;
}
.selection-product__title {
  font-size: 16px;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  background-color: #dcdcdc;
}
.selection-product__group-form {
  border: 0 none;
}
.selection-product__lable {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.sorting {
  background: #eee;
}
.sorting__title {
  font-size: 16px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.sorting__type-item {
  list-style-type: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
}
.sorting__order-item {
  list-style-type: none;
}
.products__item {
  list-style-type: none;
}
.products__item-title {
  font-size: 18px;
}
.products__item-price {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.products__item-option-item {
  list-style-type: none;
}
.products__item-option-item-compare {
  border: none;
  background: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
}
.pagination {
  background: #ebebeb;
}
.pagination__nav {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}
.pagination__nav--active:hover {
  background-color: #d9d9d9;
}
.pagination__nav--active:active {
  color: rgba(0,0,0,0.3);
}
.pagination__item {
  list-style-type: none;
  font-size: 16px;
  color: rgba(0,0,0,0.3);
}
.pagination__item--not-current:hover {
  color: rgba(0,0,0,0.6);
}
.pagination__item--not-current:active {
  color: rgba(0,0,0,1);
}
.pagination__item--current {
  color: black;
}
.pagination__item--current:hover {
  color: black;
}
