@font-face {
    font-family: 'gilroyextrabold';
    src: url('../font/gilroy-extrabold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'gilroylight';
    src: url('../font/gilroy-light-webfont.woff2') format('woff2');
}

body {
  font-family: "gilroyextrabold", "Arial", sans-serif;
  /* font-family: 'Open Sans', "Arial", sans-serif; */
}
