@font-face {
    font-family: 'gilroyextrabold';
    src: url('../font/gilroy-extrabold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'gilroylight';
    src: url('../font/gilroy-light-webfont.woff2') format('woff2');
}
*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

.body {
  font-family: "gilroyextrabold", Arial, sans-serif;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.button {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-decoration: none;
  color: black;
}
.link {
  text-decoration: none;
  color: inherit;
}
.text {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}
.active-element-opacity:hover {
  filter: opacity(0.6);
}
.active-element-opacity:active {
  filter: opacity(0.3);
}
.title {
  font-size: 47px;
  letter-spacing: 0.47px;
  line-height: 48px;
}

/* ШАПКА */
/* ШАПКА */
/* ШАПКА */

.header {
  background-color: #f7e296;

  width: 1160px;

  position: relative;

  margin: 40px auto 0 auto;
  padding: 0 60px 36px;
}
.header__logo {
  font-size: 48px;
  text-transform: uppercase;
  line-height: 48px;
  letter-spacing: 0.48px;

  position: absolute;
  top: -72px;
  left: 58px;
}
.header__top-row {
  display: flex;
  padding-top: 33px;
}
.search-form {
  display: flex;
  position: relative;
}
.search-form::before {
  content: "";

  position: absolute;
  left: 3px;
  bottom: 16px;

  width: 16px;
  height: 16px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0;
}
.search-form__search {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: rgba(0,0,0,0.3);
  letter-spacing: 0.15px;

  background-color: inherit;

  border: none;

  width: 360px;
  height: 50px;

  padding-left: 38px;
}
.search-form__search:hover {
  color: rgba(0,0,0,0.6);
}
/* поле поиска остается в фокусе, когда там есть текст, но не курсор */
.search-form__search:focus, .search-form__search:not(:placeholder-shown) {
  color: rgba(0,0,0,1);

  outline: none;
  border-bottom: 2px solid black;
}
.search-form__button {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  color: black;

  background-color: inherit;

  border: 2px solid black;

  width: 85px;
  height: 50px;

  display: none;
}
/* появление кнопки, если поле с поиском в фокусе */
.search-form__search:focus + .search-form__button {
  display: block;
}
/* появление кнопки, если в поле с поиском есть текст */
.search-form__search:not(:placeholder-shown) + .search-form__button {
  display: block;
}
.search-form__button:hover {
  color: rgba(255,255,255,1);

  background-color: black;
  display: block;
}
.search-form__button:active {
  color: rgba(255,255,255,0.3);
  outline: none;
  border-radius: 0;
  display: block;
}
.search-form__button:focus {
  outline: none;
  border-radius: 0;
  display: block;
}
.user-menu {
  display: flex;
  width: 500px;

  justify-content: space-between;
  align-items: center;

  margin-left: auto;
}
.account-submenu {
  display: flex;

  margin: 0;
  padding: 0;
}
.account-submenu__point {
  list-style-type: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  position: relative;
}
.account-submenu__point-login {
  margin-left: 26px;
}
.account-submenu__point-login::before {
  content: "";

  position: absolute;
  left: -26px;
  bottom: 3px;

  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0;
}
.product-submenu {
  display: flex;
  margin-left: auto;

  margin: 0;
  padding: 0;
}
.product-submenu__point {
  list-style-type: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;

  position: relative;
}
.product-submenu__point-compare {
  margin-right: 65px;
}
.product-submenu__point-compare::before {
  content: "";

  position: absolute;
  left: -20px;
  bottom: 3px;

  width: 10px;
  height: 10px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0;
}
.product-submenu__point-cart::before {
  content: "";

  position: absolute;
  left: -23px;
  bottom: 3px;

  width: 12px;
  height: 12px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0;
}

.header__bottom-row {
  display: flex;

  margin-top: 28px;
}
.catalog-menu__title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  padding-top: 4px;
}
.catalog-menu {

}
.catalog-menu__title {
  padding-right: 48px;
  margin-top: 0;

  position: relative;
}
.catalog-menu__title:focus {
  outline: none;
}
.catalog-menu__title::after {
  content: "";

  position: absolute;
  left: 230px;
  top: 5px;

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0;

  opacity: 0.3;
}
.catalog-menu__list {
  padding: 0;
  margin: 0;
}
.catalog-menu__columns {
  list-style-type: none;
  width: 100%;

  padding: 0;
  margin: 0;
  position: absolute;
  right: 0px;

  display: none;

  background-color: #f7e296;
}
.catalog-menu:hover .catalog-menu__columns {
  display: flex;
}
.catalog-menu__columns:hover {
  display: none;
}
.catalog-menu__column {
  margin-bottom: 35px;
  margin-top: 7px;
}
.catalog-menu__column:nth-child(1) {
  margin-left: 60px;
}
.catalog-menu__column:nth-child(2) {
  margin-left: 60px;
}
.catalog-menu__column:nth-child(3) {
  margin-left: 60px;
}
.catalog-menu__item {
  list-style-type: none;
  letter-spacing: 0.15px;
  line-height: 36px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.site-menu {
  margin-left: auto;

  flex-wrap: wrap;
}
.site-menu__list {
  padding: 0;
  margin: 0;
  margin-left: auto;

  width: 500px;

  display: flex;
  flex-wrap: wrap;
}
.site-menu_item {
  text-transform: uppercase;
  list-style-type: none;
  font-size: 18px;
  letter-spacing: 3.6px;

  margin-left: 34px;
  padding-top: 4px;
}
.site-menu_item:nth-child(3n + 1) {
  margin-left: 0;
}
.site-menu_item:nth-child(3n + 2) {
  margin-right: auto;
}
.site-menu_item:nth-child(3n) {
  margin-right: -5px;
}

/* ГЛАВНАЯ СТРАНИЦА */
/* ГЛАВНАЯ СТРАНИЦА */
/* ГЛАВНАЯ СТРАНИЦА */

.slider-product__item {
  list-style-type: none;
}
.slider-product__item-slogan {
  line-height: 56px;
}
.slider-product__item-features-item {
  list-style-type: none;
  font-family: "gilroylight", Arial, sans-serif;
}
.slider-product__item-features-title {
  font-size: 36px;
}
.slider-product__item-features-text {
  font-size: 13px;
}
.main-catalog__item {
  list-style-type: none;
  font-size: 18px;
}
.main-service__service-name {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}
.brands__item {
  list-style-type: none;
}
.brands__logo {
  filter: opacity(0.2) grayscale(1);
}
.brands__logo:hover {
  filter: opacity(1) grayscale(0);
}
.main-about__transport-item {
  list-style-type: none;
  font-size: 16px;
}

/* ПОДВАЛ */
/* ПОДВАЛ */
/* ПОДВАЛ */

.footer {
  background-color: #464646;
  color: white;
}
.footer__logo {
  font-size: 48px;
  text-transform: uppercase;
  color: #ffc600;
}
.write-us__label {
  font-size: 18px;
}
.input-text {
  border: none;
}
.input-text {
  border: none;
  background-color: rgba(229,229,229,0.5);

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.input-text:hover {
  background-color: rgba(229,229,229,0.8);
}
.input-text:focus {
  border: none;
  background-color: white;
  outline: 3px solid rgba(240,197,46,0.5);
}
.input-text:not(:placeholder-shown):invalid {
  border: none;
  outline: none;
  background-color: rgba(237,181,181,0.5);
}
.write-us__textarea {
  resize: none;
}
.submit-button {
  background: none;
  border: none;
}

/* КАТАЛОГ */
/* КАТАЛОГ */
/* КАТАЛОГ */

.breadcrumbs__item {
  list-style-type: none;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}
.selection-product {
  background: #eee;
}
.selection-product__title {
  font-size: 16px;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  background-color: #dcdcdc;
}
.selection-product__group-form {
  border: 0 none;
}
.selection-product__lable {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.sorting {
  background: #eee;
}
.sorting__title {
  font-size: 16px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.sorting__type-item {
  list-style-type: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
}
.sorting__order-item {
  list-style-type: none;
}
.products__item {
  list-style-type: none;
}
.products__item-title {
  font-size: 18px;
}
.products__item-price {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.products__item-option-item {
  list-style-type: none;
}
.products__item-option-item-compare {
  border: none;
  background: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
}
.pagination {
  background: #ebebeb;
}
.pagination__nav {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}
.pagination__nav--active:hover {
  background-color: #d9d9d9;
}
.pagination__nav--active:active {
  color: rgba(0,0,0,0.3);
}
.pagination__item {
  list-style-type: none;
  font-size: 16px;
  color: rgba(0,0,0,0.3);
}
.pagination__item--not-current:hover {
  color: rgba(0,0,0,0.6);
}
.pagination__item--not-current:active {
  color: rgba(0,0,0,1);
}
.pagination__item--current {
  color: black;
}
.pagination__item--current:hover {
  color: black;
}
